*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #e2e2e2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li{
  list-style: none;
}

.mainContent{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  min-height: 90vh;
  text-align: center;
}
